# Ignore Terraform local files and folders
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Ignore Python environment files
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Ignore Docker-related files
*.log
